<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="bkosmo.mvc.dto.AinfoVO" alias="avo" />
	<typeAlias type="bkosmo.mvc.dto.MemberVO" alias="mvo"/>
    <typeAlias type="bkosmo.mvc.dto.MyEmblemVO" alias="evo"/>
    <typeAlias type="bkosmo.mvc.dto.EmblemUpdateVO" alias="uvo"/>
    <typeAlias type="bkosmo.mvc.dto.SumVO" alias="svo"/>
</typeAliases>
</configuration>